<?xml version="1.0"?>
<launch>
    <arg name="paused" default="true"/>
    
    <!-- Launch Gazebo with empty world-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="true"/>
        <arg name="paused" value="$(arg paused)"/>
    </include >
    
    <!-- spawn cylinder -->
    <node name="cyl_sp" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model cylinder -file $(find ecn_turtle)/urdf/cylinder.urdf -x 5 -y 0"/>

    <!-- spawn robot-->
    <param name="robot_description" command="$(find xacro)/xacro.py $(find ecn_turtle)/urdf/turtle_hokuyo.urdf"/> 
    <node name="spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model turtlebot -param robot_description -x 0 -y 0 -z 0 -R 0 -P 0 -Y 0"/>    
    
    
    
</launch>
