<?xml version="1.0"?>

<launch>
    <!-- Rviz node -->
    <param name="use_gui" value="True"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ecn_turtle)/config.rviz" />

	<!-- state publisher -->
   <node name="state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
